USE [Firma]
GO
/****** Object:  Table [dbo].[abteilungen]    Script Date: 08.06.2021 10:01:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[abteilungen](
	[id] [int] NOT NULL,
	[name] [char](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[kunde]    Script Date: 08.06.2021 10:01:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[kunde](
	[ID] [int] IDENTITY(10000,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Vorname] [nvarchar](30) NULL,
	[Mitarbeiter_ID] [int] NULL,
 CONSTRAINT [PK_Kunde] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mitarbeiter]    Script Date: 08.06.2021 10:01:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mitarbeiter](
	[id] [int] NOT NULL,
	[name] [varchar](20) NULL,
	[vorname] [varchar](20) NULL,
	[gebdatum] [date] NULL,
	[gehalt] [decimal](10, 2) NULL,
	[bonus] [decimal](10, 2) NULL,
	[chef_id] [int] NULL,
	[abteilungen_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[abteilungen] ([id], [name]) VALUES (1, N'Leitung             ')
INSERT [dbo].[abteilungen] ([id], [name]) VALUES (2, N'Vertrieb            ')
INSERT [dbo].[abteilungen] ([id], [name]) VALUES (3, N'Produktion          ')
GO
SET IDENTITY_INSERT [dbo].[kunde] ON 

INSERT [dbo].[kunde] ([ID], [Name], [Vorname], [Mitarbeiter_ID]) VALUES (10000, N'Meier', N'Friedbert', 102)
INSERT [dbo].[kunde] ([ID], [Name], [Vorname], [Mitarbeiter_ID]) VALUES (10001, N'Meier', N'Olga', 105)
INSERT [dbo].[kunde] ([ID], [Name], [Vorname], [Mitarbeiter_ID]) VALUES (10002, N'Schultz', N'Peter', 108)
SET IDENTITY_INSERT [dbo].[kunde] OFF
GO
INSERT [dbo].[mitarbeiter] ([id], [name], [vorname], [gebdatum], [gehalt], [bonus], [chef_id], [abteilungen_id]) VALUES (101, N'King', N'Adam', CAST(N'1965-06-01' AS Date), CAST(6689.00 AS Decimal(10, 2)), CAST(1700.00 AS Decimal(10, 2)), NULL, 1)
INSERT [dbo].[mitarbeiter] ([id], [name], [vorname], [gebdatum], [gehalt], [bonus], [chef_id], [abteilungen_id]) VALUES (102, N'Berger', N'Bernd', CAST(N'1980-05-14' AS Date), CAST(5123.00 AS Decimal(10, 2)), CAST(1500.00 AS Decimal(10, 2)), 101, 2)
INSERT [dbo].[mitarbeiter] ([id], [name], [vorname], [gebdatum], [gehalt], [bonus], [chef_id], [abteilungen_id]) VALUES (103, N'Chinski', N'Cris', CAST(N'1970-05-13' AS Date), CAST(2533.00 AS Decimal(10, 2)), CAST(860.00 AS Decimal(10, 2)), 101, 3)
GO
ALTER TABLE [dbo].[kunde]  WITH CHECK ADD  CONSTRAINT [FK_MA_Kunde] FOREIGN KEY([Mitarbeiter_ID])
REFERENCES [dbo].[mitarbeiter] ([id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[kunde] CHECK CONSTRAINT [FK_MA_Kunde]
GO
ALTER TABLE [dbo].[mitarbeiter]  WITH CHECK ADD  CONSTRAINT [FK_ABT_MA] FOREIGN KEY([abteilungen_id])
REFERENCES [dbo].[abteilungen] ([id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[mitarbeiter] CHECK CONSTRAINT [FK_ABT_MA]
GO
