USE [Ferienhaus]
GO
/****** Object:  Table [dbo].[Adresse]    Script Date: 01.12.2015 11:50:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Adresse](
	[Address_ID] [int] IDENTITY(1,1) NOT NULL,
	[PLZ] [nvarchar](5) NULL DEFAULT (NULL),
	[Stadt] [nvarchar](50) NULL DEFAULT (NULL),
	[Bundesland] [nvarchar](50) NULL DEFAULT (NULL),
	[Strasse] [nvarchar](75) NULL DEFAULT (NULL),
	[Hausnummer] [nvarchar](5) NULL DEFAULT (NULL),
	[Zusatz] [nvarchar](50) NULL DEFAULT (NULL),
	[Herkunftsland_ID] [int] NULL DEFAULT (NULL),
 CONSTRAINT [PK_Adresse] PRIMARY KEY CLUSTERED 
(
	[Address_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Eigentuemer]    Script Date: 01.12.2015 11:50:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Eigentuemer](
	[Eigentuemer_ID] [int] IDENTITY(1,1) NOT NULL,
	[Address_ID] [int] NULL DEFAULT (NULL),
	[Name] [nvarchar](50) NULL,
 CONSTRAINT [PK_Eigentuemer] PRIMARY KEY CLUSTERED 
(
	[Eigentuemer_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Ferienhaus]    Script Date: 01.12.2015 11:50:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ferienhaus](
	[Ferienhaus_ID] [int] IDENTITY(1,1) NOT NULL,
	[Eigentuemer_ID] [int] NULL DEFAULT (NULL),
	[Address_ID] [int] NULL DEFAULT (NULL),
	[Anzahl_Schlafzimmer] [int] NULL DEFAULT ((1)),
	[Name] [nvarchar](50) NULL,
	[Einstell_dat] [date] NULL,
 CONSTRAINT [PK_Ferienhaus] PRIMARY KEY CLUSTERED 
(
	[Ferienhaus_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[geschlossen]    Script Date: 01.12.2015 11:50:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[geschlossen](
	[Ferienhaus_ID] [int] NOT NULL,
	[Beginn] [date] NOT NULL,
	[Ende] [date] NULL CONSTRAINT [DF_geschlossen_Ende]  DEFAULT (NULL),
	[Bemerkung] [nchar](100) NULL,
 CONSTRAINT [PK_geschlossen] PRIMARY KEY CLUSTERED 
(
	[Ferienhaus_ID] ASC,
	[Beginn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Herkunftsland]    Script Date: 01.12.2015 11:50:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Herkunftsland](
	[Herkunftsland_ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nchar](50) NOT NULL,
	[Abkuerzung] [nchar](5) NULL,
	[Besonderheiten] [nchar](100) NULL,
 CONSTRAINT [PK_Herkunftsland] PRIMARY KEY CLUSTERED 
(
	[Herkunftsland_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Kunde]    Script Date: 01.12.2015 11:50:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kunde](
	[Kunde_ID] [int] IDENTITY(1,1) NOT NULL,
	[Address_ID] [int] NULL DEFAULT (NULL),
	[Name] [nvarchar](50) NULL,
 CONSTRAINT [PK_Kunde] PRIMARY KEY CLUSTERED 
(
	[Kunde_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Maengelanzeige]    Script Date: 01.12.2015 11:50:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Maengelanzeige](
	[Maengelanzeige_ID] [int] IDENTITY(1,1) NOT NULL,
	[Ferienhaus_ID] [int] NULL DEFAULT (NULL),
	[Meldedatum] [date] NULL DEFAULT (NULL),
	[Beschreibung] [nvarchar](250) NULL DEFAULT (NULL),
 CONSTRAINT [PK_Maengelanzeige] PRIMARY KEY CLUSTERED 
(
	[Maengelanzeige_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Mietvertrag]    Script Date: 01.12.2015 11:50:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mietvertrag](
	[Mietvertrag_ID] [int] IDENTITY(1,1) NOT NULL,
	[Ferienhaus_ID] [int] NULL DEFAULT (NULL),
	[Kunde_ID] [int] NULL DEFAULT (NULL),
	[Beginn] [date] NULL DEFAULT (NULL),
	[Ende] [date] NULL DEFAULT (NULL),
 CONSTRAINT [PK_Mietvertrag] PRIMARY KEY CLUSTERED 
(
	[Mietvertrag_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Adresse] ON 

INSERT [dbo].[Adresse] ([Address_ID], [PLZ], [Stadt], [Bundesland], [Strasse], [Hausnummer], [Zusatz], [Herkunftsland_ID]) VALUES (1, N'22435', N'Hamburg', N'HH', N'Kolbenstrasse', N'4', NULL, NULL)
INSERT [dbo].[Adresse] ([Address_ID], [PLZ], [Stadt], [Bundesland], [Strasse], [Hausnummer], [Zusatz], [Herkunftsland_ID]) VALUES (2, N'80313', N'Muenchen', N'Bayern', N'Birnengasse', N'68', NULL, NULL)
INSERT [dbo].[Adresse] ([Address_ID], [PLZ], [Stadt], [Bundesland], [Strasse], [Hausnummer], [Zusatz], [Herkunftsland_ID]) VALUES (3, N'01157', N'Dresden', N'Sachsen', N'Am kleinen Teich', N'7', NULL, NULL)
SET IDENTITY_INSERT [dbo].[Adresse] OFF
SET IDENTITY_INSERT [dbo].[Eigentuemer] ON 

INSERT [dbo].[Eigentuemer] ([Eigentuemer_ID], [Address_ID], [Name]) VALUES (1, 5, N'Pullmann Hotels')
INSERT [dbo].[Eigentuemer] ([Eigentuemer_ID], [Address_ID], [Name]) VALUES (2, 1, N'Paul Liebknecht')
INSERT [dbo].[Eigentuemer] ([Eigentuemer_ID], [Address_ID], [Name]) VALUES (3, 2, N'Alfredo Kruppi')
SET IDENTITY_INSERT [dbo].[Eigentuemer] OFF
SET IDENTITY_INSERT [dbo].[Ferienhaus] ON 

INSERT [dbo].[Ferienhaus] ([Ferienhaus_ID], [Eigentuemer_ID], [Address_ID], [Anzahl_Schlafzimmer], [Name], [Einstell_dat]) VALUES (1, 4, 7, 3, N'Pension Ambient', CAST(N'2006-11-01' AS Date))
INSERT [dbo].[Ferienhaus] ([Ferienhaus_ID], [Eigentuemer_ID], [Address_ID], [Anzahl_Schlafzimmer], [Name], [Einstell_dat]) VALUES (2, 1, 3, 3, N'Filou Theater', CAST(N'2007-07-01' AS Date))
INSERT [dbo].[Ferienhaus] ([Ferienhaus_ID], [Eigentuemer_ID], [Address_ID], [Anzahl_Schlafzimmer], [Name], [Einstell_dat]) VALUES (3, 5, 6, 2, N'Villa Seeufer', CAST(N'2007-02-01' AS Date))
SET IDENTITY_INSERT [dbo].[Ferienhaus] OFF
INSERT [dbo].[geschlossen] ([Ferienhaus_ID], [Beginn], [Ende], [Bemerkung]) VALUES (1, CAST(N'2010-01-01' AS Date), CAST(N'2012-06-30' AS Date), N'komplette Rekonstruktion                                                                            ')
INSERT [dbo].[geschlossen] ([Ferienhaus_ID], [Beginn], [Ende], [Bemerkung]) VALUES (2, CAST(N'2013-05-27' AS Date), NULL, N'Hochwasserschaden - Gebäudestatik betroffen                                                         ')
INSERT [dbo].[geschlossen] ([Ferienhaus_ID], [Beginn], [Ende], [Bemerkung]) VALUES (5, CAST(N'2008-11-02' AS Date), CAST(N'2011-12-31' AS Date), N'Geschäftsaufgabe und Nachfolgersuche                                                                ')
SET IDENTITY_INSERT [dbo].[Herkunftsland] ON 

INSERT [dbo].[Herkunftsland] ([Herkunftsland_ID], [Name], [Abkuerzung], [Besonderheiten]) VALUES (1, N'Deutschland                                       ', N'D    ', NULL)
SET IDENTITY_INSERT [dbo].[Herkunftsland] OFF
SET IDENTITY_INSERT [dbo].[Kunde] ON 

INSERT [dbo].[Kunde] ([Kunde_ID], [Address_ID], [Name]) VALUES (1, 11, N'Ehepaar Weigelt')
INSERT [dbo].[Kunde] ([Kunde_ID], [Address_ID], [Name]) VALUES (2, 10, N'Familie Schorlemmer')
INSERT [dbo].[Kunde] ([Kunde_ID], [Address_ID], [Name]) VALUES (3, 8, N'Familie Ulzenseg')
SET IDENTITY_INSERT [dbo].[Kunde] OFF
SET IDENTITY_INSERT [dbo].[Maengelanzeige] ON 

INSERT [dbo].[Maengelanzeige] ([Maengelanzeige_ID], [Ferienhaus_ID], [Meldedatum], [Beschreibung]) VALUES (1, 1, CAST(N'2013-01-24' AS Date), N'Fensterglasschaden')
INSERT [dbo].[Maengelanzeige] ([Maengelanzeige_ID], [Ferienhaus_ID], [Meldedatum], [Beschreibung]) VALUES (2, 1, CAST(N'2013-01-09' AS Date), N'Ausstattung entspricht nicht dem Vertrag')
INSERT [dbo].[Maengelanzeige] ([Maengelanzeige_ID], [Ferienhaus_ID], [Meldedatum], [Beschreibung]) VALUES (3, 1, CAST(N'2012-12-23' AS Date), N'verschmutzte Dusche')
GO
SET IDENTITY_INSERT [dbo].[Maengelanzeige] OFF
SET IDENTITY_INSERT [dbo].[Mietvertrag] ON 

INSERT [dbo].[Mietvertrag] ([Mietvertrag_ID], [Ferienhaus_ID], [Kunde_ID], [Beginn], [Ende]) VALUES (1, 2, 4, CAST(N'2007-08-29' AS Date), CAST(N'2007-09-19' AS Date))
INSERT [dbo].[Mietvertrag] ([Mietvertrag_ID], [Ferienhaus_ID], [Kunde_ID], [Beginn], [Ende]) VALUES (2, 8, 2, CAST(N'2007-01-20' AS Date), CAST(N'2007-02-14' AS Date))
INSERT [dbo].[Mietvertrag] ([Mietvertrag_ID], [Ferienhaus_ID], [Kunde_ID], [Beginn], [Ende]) VALUES (3, 7, 16, CAST(N'2010-07-12' AS Date), CAST(N'2010-08-02' AS Date))
GO
SET IDENTITY_INSERT [dbo].[Mietvertrag] OFF
ALTER TABLE [dbo].[Adresse]  WITH CHECK ADD  CONSTRAINT [FK_Adresse_Herkunftsland] FOREIGN KEY([Herkunftsland_ID])
REFERENCES [dbo].[Herkunftsland] ([Herkunftsland_ID])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Adresse] CHECK CONSTRAINT [FK_Adresse_Herkunftsland]
GO
ALTER TABLE [dbo].[Eigentuemer]  WITH CHECK ADD  CONSTRAINT [FK_Adresse_Eigentuemer] FOREIGN KEY([Address_ID])
REFERENCES [dbo].[Adresse] ([Address_ID])
GO
ALTER TABLE [dbo].[Eigentuemer] CHECK CONSTRAINT [FK_Adresse_Eigentuemer]
GO
ALTER TABLE [dbo].[Ferienhaus]  WITH CHECK ADD  CONSTRAINT [FK_Adresse_Ferienhaus] FOREIGN KEY([Address_ID])
REFERENCES [dbo].[Adresse] ([Address_ID])
GO
ALTER TABLE [dbo].[Ferienhaus] CHECK CONSTRAINT [FK_Adresse_Ferienhaus]
GO
ALTER TABLE [dbo].[Ferienhaus]  WITH CHECK ADD  CONSTRAINT [FK_Eigentuemer_Ferienhaus] FOREIGN KEY([Eigentuemer_ID])
REFERENCES [dbo].[Eigentuemer] ([Eigentuemer_ID])
ON UPDATE SET DEFAULT
ON DELETE SET DEFAULT
GO
ALTER TABLE [dbo].[Ferienhaus] CHECK CONSTRAINT [FK_Eigentuemer_Ferienhaus]
GO
ALTER TABLE [dbo].[geschlossen]  WITH CHECK ADD  CONSTRAINT [FK_geschlossen_Ferienhaus] FOREIGN KEY([Ferienhaus_ID])
REFERENCES [dbo].[Ferienhaus] ([Ferienhaus_ID])
GO
ALTER TABLE [dbo].[geschlossen] CHECK CONSTRAINT [FK_geschlossen_Ferienhaus]
GO
ALTER TABLE [dbo].[Kunde]  WITH CHECK ADD  CONSTRAINT [FK_Adresse_Kunde] FOREIGN KEY([Address_ID])
REFERENCES [dbo].[Adresse] ([Address_ID])
GO
ALTER TABLE [dbo].[Kunde] CHECK CONSTRAINT [FK_Adresse_Kunde]
GO
ALTER TABLE [dbo].[Maengelanzeige]  WITH CHECK ADD  CONSTRAINT [FK_Maengelanzeige_Ferienhaus] FOREIGN KEY([Ferienhaus_ID])
REFERENCES [dbo].[Ferienhaus] ([Ferienhaus_ID])
GO
ALTER TABLE [dbo].[Maengelanzeige] CHECK CONSTRAINT [FK_Maengelanzeige_Ferienhaus]
GO
ALTER TABLE [dbo].[Mietvertrag]  WITH CHECK ADD  CONSTRAINT [FK_Mietvertrag_Ferienhaus] FOREIGN KEY([Ferienhaus_ID])
REFERENCES [dbo].[Ferienhaus] ([Ferienhaus_ID])
GO
ALTER TABLE [dbo].[Mietvertrag] CHECK CONSTRAINT [FK_Mietvertrag_Ferienhaus]
GO
ALTER TABLE [dbo].[Mietvertrag]  WITH CHECK ADD  CONSTRAINT [FK_Mietvertrag_Kunde] FOREIGN KEY([Kunde_ID])
REFERENCES [dbo].[Kunde] ([Kunde_ID])
GO
ALTER TABLE [dbo].[Mietvertrag] CHECK CONSTRAINT [FK_Mietvertrag_Kunde]
GO
